
// CORES
$cor-1: #0597E6;
$cor-2: #6FA8C7;
$cor-3: #F1FFFF;
$cor-4: #FFFFFF;
$cinza: #2a2426;

// FONTES
$fonte-1: 'Press Start 2P', cursive;
$fonte-2: 'Roboto Slab', serif;
$fonte-3: 'Oleo Script', cursive;


@function em($pixel, $contexto: 16) {
    @return $pixel / $contexto + em;
}

@mixin tipo-1($size) {
    font-family: $fonte-1;
}

@mixin tipo-2($size) {
    font-family: $fonte-2;
    @if $size == 45 {
        font-size: em(45);
    }
    @else if $size == 24 {
        font-size: em(24);
        line-height: em(30, 24);
    }
    @else if $size == 16 {
        font-size: em(16);
        line-height: em(30, 16);
    }
    @else if $size == 14 {
        font-size: em(14);
        line-height: em(30, 14);
    }
    
}
@mixin tipo-3($size) {
    font-family: $fonte-3;
    @if $size == 45 {
        font-size: em(45);
    }
}

